<section>
    <div>
        Not much I want to show off on the public internet yet.
    </div>
    <div>
        Do check out my StackOverflow profile though:
        <a href="http://stackoverflow.com/users/846844/hoppe">
            <img src="http://stackoverflow.com/users/flair/846844.png" width="208" height="58" alt="profile for Hoppe at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Hoppe at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
    </div>
</section>